<div style="width:350px;margin-top:10px">
	Title:<input style="float:right" ng-model="notetitle">
	<div style="clear:both"></div>
</div>
<div style="width:350px;margin-top:10px">
	Content:<input style="float:right" ng-model="notecontent">
	<div style="clear:both"></div>
</div>
<div style="width:350px;margin-top:10px">
	Date(yyyy-MM-dd):<input style="float:right" ng-model="notedate">
	<div style="clear:both"></div>
</div>
<div style="width:350px;margin-top:10px">
	Tags:<input style="float:right" ng-model="notetags">
	<div style="clear:both"></div>
</div>
<button type="button" ng-click="createNote()">Create</button>